<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.attachmentnetwork.attachmentmobie" version="0.0.1" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns="http://www.w3.org/ns/widgets">

  <name>attachment-mobile</name>

  <description>
    An Ionic Framework and Cordova project.
  </description>

  <author email="admin@attachmentnetwork.ca" href="http://attachmentnetwork.ca/">
    The Attachment Network of Manitoba
  </author>

  <content src="index.html"/>
  <access origin="*"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>

  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>

  <platform name="android">
    <icon density="ldpi" src="icons/android/drawable-ldpi/ic_launcher.png"/>
    <icon density="mdpi" src="icons/android/drawable-mdpi/ic_launcher.png"/>
    <icon density="hdpi" src="icons/android/drawable-hdpi/ic_launcher.png"/>
    <icon density="xhdpi" src="icons/android/drawable-xhdpi/ic_launcher.png"/>
    <icon density="xxhdpi" src="icons/android/drawable-xxhdpi/ic_launcher.png"/>
    <icon density="xxxhdpi" src="icons/android/drawable-xxxhdpi/ic_launcher.png"/>
  </platform>

  <platform name="ios">
    <icon height="60" src="icons/ios/icon-60.png" width="60"/>
    <icon height="40" src="icons/ios/icon-40.png" width="40"/>
    <icon height="80" src="icons/ios/icon-40@2x.png" width="80"/>
    <icon height="57" src="icons/ios/icon.png" width="57"/>
    <icon height="114" src="icons/ios/icon@2x.png" width="114"/>
    <icon height="72" src="icons/ios/icon-72.png" width="72"/>
    <icon height="144" src="icons/ios/icon-72@2x.png" width="144"/>
    <icon height="29" src="icons/ios/icon-small-50.png" width="29"/>
    <icon height="50" src="icons/ios/icon-50.png" width="50"/>
    <icon height="100" src="icons/ios/icon-50@2x.png" width="100"/>
  </platform>
</widget>
